
 .channel-container {
   display: "flex", 
   /* Gap 18 */
 }

 .create-channel, .add-input {
    width: 220px;
    height: 100px;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 7px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: blueviolet;
 }

 .create-channel-container {
  max-width: 320px;
  margin: 40px auto;
  padding: 24px 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
 }