.head-menu {
    padding: 20px;
    width: 100%;
    background-color: rgba(179, 235, 235, 0.227);
}
.head-menu button {
  padding: 8px 12px;
  background: #9baeb0;
  margin-left: 2px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}


.head-menu button:hover {
  background:  rgba(255, 113, 182, 1);
}

.head-menu nav {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo {
    background: transparent;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logo img {
    height: 45px;

}

.logo:hover {
    border: none;
    filter: drop-shadow(0 0 2em #ff7192);

}

.nav-buttons {
    display: flex;
    gap: 10px;
}


.nav-buttons, .status button {
    padding: 8px 12px;
    background: #ff7d8d;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}