.head-menu {
    background-color: rgba(0, 0, 0, 0.063);
    padding: 12px 20px;
    width: 100%;
    border-bottom: 3px solid #FF3499;
    border: none;
    display: flex;
    justify-content: center;
}

.head-menu nav {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo {
    background: transparent;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logo img {
    height: 45px;

}

.logo:hover {
    border: none;
    filter: drop-shadow(0 0 2em #ff3b69);

}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons, .status button {
    padding: 8px 12px;
    background: #FF3499;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.status {
    font-size: 14px;
    color: #86ff5d;
}
