.head-menu {
    background-color: rgba(0, 0, 0, 0.063);
    padding: 12px 20px;
    width: 100%;
    border-bottom: 3px solid #FF3499;
    border: none;
    display: flex;
    justify-content: center;
}

.head-menu nav {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo {
    background: transparent;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
 
.logo:hover {
    border: none;
}

.status {
    font-size: 14px;
    color: #333;
}

.status button {
    margin-left: 10px;
    padding: 5px 10px;
    background: #FF3499;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
