nav, .link {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.2s ease;
}

nav .link:hover {
    color: #FF3499;
}

.bubbles {
  width: 950px;
  max-width: 100%;
  display: block;
}

@media (max-width: 390px) {
  nav, .link {
    margin-left: 10px;
    font-size: 14px;
  }

  .bubbles {
    width: 100%;
  }
}