/* .home-text {
    margin: 0 auto;
    text-align: center;
}

.home-container {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px #FF3499;
  margin-top: 20px;
  margin-bottom: 20px;
} */