.register-container, .login-container {
    /* background-color: #cdf6ec7c; */
  max-width: 320px;
  margin: 40px auto;
  padding: 24px 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.register-container h1, .login-container h1 {
  margin-bottom: 16px;
  font-size: 24px;
  text-align: center;
}

.register, .login {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 9px;
    width: 120px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

.register:hover {
    background-color: #ff87c3;
}

.login:hover {
    background-color: #ff87c3;

}

.reg {
    background: none;    
    color: rgba(255, 113, 182, 1);
    text-decoration: underline;
}