#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1980px;
  margin: 0 auto;
  text-align: center;
}

.head-menu {
  width: 100%;
  background-color: rgba(175, 175, 175, 0.415);
  padding: 60px 20px;
  border-bottom: 3px solid rgba(255, 113, 182, 1);

  display: flex;
  justify-content: center;
}

.head-menu nav {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.logo img {
  height: 45px;
}


.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons button {
  padding: 8px 12px;
  background: #646464;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background: rgba(255, 113, 182, 1);
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 9px;
  cursor: pointer;
  background-color: #000000;
  color: white;
}

button:hover {
  border-color: rgba(255, 113, 182, 1)
}

input, textarea {
  background-color: white;
  color: black;
  padding: 7px;
  margin: 5px auto;
  display: block;
  border-radius: 5px;
  width: 100%;
  max-width: 220px;
}


@media (max-width: 390px) {

  .head-menu {
    padding: 20px 10px;
  }

  .head-menu nav {
    flex-direction: column;
    gap: 15px;
  }

  .logo img {
    height: 35px;
  }

  .nav-buttons {
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }

  .nav-buttons button {
    width: 100%;
    padding: 10px;
  }

  input, textarea {
    max-width: 100%;
  }
}