* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: dark;
  color: #ffffff;
  background-color: #393636;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

@media (max-width: 390px) {
  :root {
    font-size: 14px;
    line-height: 1.4;
  }

  body {
    padding: 0 8px;
  }
}
